<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>
	<!-- 指定applicatioContext.xml配置文件所在的路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- 指定log4j配置文件所在的路径 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<!-- WEB容器间隔60s,扫描1次配置文件的变化 -->
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>60000</param-value>
	</context-param>
	
	<!-- 配置延迟加载过滤器 -->
	<filter>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	
	
	<!-- 配置PUT表单内容过滤器：将PUT流传输的数据，转移到消息体中去 -->
	<filter>
		<filter-name>httpPutFormContentFilter</filter-name>
		<filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
	</filter>

	<!-- 配置DELETE表单内容过滤器：将DELETE流传输的数据，转移到消息体中去 -->
	<filter>
		<filter-name>httpDeleteFormContentFilter</filter-name>
		<filter-class>com.yangsir.project.filters.HttpDeleteFormContentFilter</filter-class>
	</filter>
	
	
	
	<!-- 配置Form表单支持PUT,DELETE提交方式的过滤器 -->
	<filter>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>httpPutFormContentFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>httpDeleteFormContentFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping>
	 

	<!-- 监听器启动spring容器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 监听器启动Log4j -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- 开启前端控制器 -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-servlet.xml</param-value>
		</init-param>
	</servlet>

	
</web-app>

